<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritsFrom</key>
	<string>CCNode</string>
	<key>canHaveChildren</key>
	<true/>
	<key>canBeRootNode</key>
	<false/>
	<key>className</key>
	<string>CCJoint</string>
	<key>editorClassName</key>
	<string>CCJoint</string>
	<key>propertiesOverridden</key>
	<array/>
	<key>properties</key>
	<array>
		<dict>
			<key>displayName</key>
			<string>CCJoint</string>
			<key>name</key>
			<string>CCJoint</string>
			<key>type</key>
			<string>Separator</string>
			<key>dontSetInEditor</key>
			<true/>
		</dict>
		<dict>
			<key>defaultSerialization</key>
			<integer>10</integer>
			<key>displayName</key>
			<string>Length</string>
			<key>type</key>
			<string>Float</string>
			<key>name</key>
			<string>length</string>
		</dict>
	</array>
</dict>
</plist>
